version: 2
updates:
  # Keep GitHub Actions used in workflows up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
